{% extends 'base.html.twig' %}

{% block title %}Détails du Soda{% endblock %}

{% block body %}
    <h1>{{ soda.name }}</h1>
    <p>Marque: {{ soda.name }}</p>
    <p>Prix: {{ soda.price }}</p>
{% endblock %}
